*.sh text eol=lf
*.bats text eol=lf
*.rc text eol=lf
bin/fixplizz* text eol=lf
boot.sh text eol=lf
install.sh text eol=lf
docs/install text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
version text eol=lf
.shellcheckrc text eol=lf
.gitattributes text eol=lf
